/* Μηδενισμός περιθωρίων */
body, html {
    margin: 0;
    height: 100%;
    background-color: #FDF8D8;
}

.grid-container {
    display: grid;
    /* 3 στήλες και 3 γραμμές */
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 80px 1fr 1fr 60px;
    
    /* Εδώ "ζωγραφίζουμε" το layout */
    grid-template-areas: 
        "header header"
        "sidebar top-right"
        "sidebar bottom-right"
        "footer footer";
        
    height: 100vh; /* Γεμίζει όλο το ύψος της οθόνης */
    gap: 0px;    /* Απόσταση μεταξύ των πάνελ */
    padding: 5px;
    box-sizing: border-box;
}

/* Αντιστοίχιση των κλάσεων με τις περιοχές του Grid */
.header { grid-area: header; background-color: #313628; color: #FFFFFF; }

.sidebar {
    grid-area: sidebar; /* Το κρεμ χρώμα της εικόνας */
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-text {
    /* κείμενο κάθετο */
    writing-mode: vertical-rl; 
    text-orientation: upright; /* Κάνει τα γράμματα να στέκονται όρθια */
    
    /* Στυλ Γραμματοσειράς */
    font-size: 5rem;
    font-weight: 900;
    color: #CC2936; /* Το βαθύ κόκκινο χρώμα */
    letter-spacing: -5px; /* Τα γράμματα είναι πολύ κοντά στην εικόνα */
    
    /* Για να πιάνει όλο το ύψος */
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.top-right { grid-area: top-right; }

.bottom-right { grid-area: bottom-right; }

.footer { grid-area: footer; background-color: #313628; color: #FFFFFF; }

/* Κοινό στυλ για όλα τα πάνελ */
.grid-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
}