/* Μηδενισμός περιθωρίων */
body, html {
    margin: 0;
    height: 100%;
    background-color: #FDF8D8;
}

.grid-container {
    display: grid;
    /* 1. Ορίζεις τις στήλες (το sidebar και τον υπόλοιπο χώρο) */
    grid-template-columns: 200px 1fr; 
    
    /* 2. Ορίζεις τα ύψη των γραμμών */
    grid-template-rows: 80px 1fr 1fr 60px;
    
    /* 3. Σχεδιάζεις το layout */
    grid-template-areas: 
        "header header"
        "sidebar top-right"
        "sidebar bottom-right"
        "footer footer";
        
    height: 100vh; 
    gap: 0px;
    box-sizing: border-box; /* Για να μην "πετάει" το footer έξω */
}

/* Αντιστοίχιση των κλάσεων με τις περιοχές του Grid */
.header { 
    grid-area: header;
    background-color: #313628; 
    color: #FFFFFF; 
    display: flex; /* flex για να κεντραριστεί το κείμενο */
    justify-content: center;
    align-items: center;
    font-size: 3rem; /* Αυξήθηκε */
    font-weight: bold;
}

.sidebar {
    grid-area: sidebar; /* Το κρεμ χρώμα της εικόνας */
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-text {
    /* κείμενο κάθετο */
    writing-mode: vertical-rl; 
    text-orientation: upright; /* Κάνει τα γράμματα να στέκονται όρθια */
    
    /* Στυλ Γραμματοσειράς */
    font-size: clamp(2rem, 8vh, 5rem);
    font-weight: 900;
    color: #CC2936; /* Το βαθύ κόκκινο χρώμα */
    letter-spacing: -5px; /* Τα γράμματα είναι πολύ κοντά στην εικόνα */
    font-family: Georgia, serif;
    
    /* Για να πιάνει όλο το ύψος */
    display: flex;
    justify-content: space-around;
}

.top-right { grid-area: top-right; }

.bottom-right { grid-area: bottom-right; }

.top-right, .bottom-right {
    flex-direction: column; /* Τα βάζει το ένα κάτω από το άλλο */
    align-items: flex-start; /* Τα στοιχίζει αριστερά */
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.bottom-right h1, .top-right h1 {
    color: #CC2936;
    text-align: right;
    text-shadow: -4px 2px 5px #383C42;
    font-family: Georgia, serif;
    font-size: 3rem;
    font-weight: 500;
    position: relative; /* Απαραίτητο για να δουλέψει το left */
    animation: mymove 4s;
}

.footer { 
    grid-area: footer; 
    background-color: #313628; 
    color: #FFFFFF; 
    text-align: center;
}

@keyframes mymove {
  from {left: 0px;}
  to {right: 500px;}
}